@import "compass/css3",
"mixins";
article{
	line-height:1.5;
	img.training-img{
		border-radius:10px;
		display:block;
		margin:30px auto;
		max-width: 80%;
		text-align:center;
	}

	.initiatives{
		margin:0 auto;
		margin-bottom:10px;
		max-width:65%;
	
		@include mobile{
			max-width:100%;
		}

		ul{
			margin-bottom:30px;
		}
		li{
			font-size:1.5em;
		}
		&.current-init{

			@include bp-small{
				justify-content:center;
				margin:10px auto;
			}
			@include mobile{
				justify-content:center;
				margin:0px auto;
			}
		}
		&.training-schedules{
			@include bp-small{
				justify-content:center;
				margin:10px auto;
			}
			@include mobile{
				justify-content:center;
				margin:0px auto;
			}
		}
	}
	.init-container{
		display:flex;
		flex-wrap:wrap;
		height:auto;
		margin:10px auto;
		width:70%;
		@include bp-medium{
			width:90%;
		}
		@include bp-small{
			width:90%
		}
		@include mobile{
			width:95%;
		}
	}
	.our-work{
		margin:0 auto;
		max-width:60%;
		@include mobile{
			max-width:100%;
		}
	}
}