/* Coolors Exported Palette - coolors.co/258ea6-61988e-000000-ffffff-273c2c */

/* HSL */
$color1: hsla(191%, 64%, 40%, 1);
$color2: hsla(169%, 22%, 49%, 1);
$color3: hsla(0%, 0%, 0%, 1);
$color4: hsla(0%, 0%, 100%, 1);
$color5: hsla(134%, 21%, 19%, 1);

/* RGB */
$color1: rgba(37, 142, 166, 1);
$color2: rgba(97, 152, 142, 1);
$color3: rgba(0, 0, 0, 1);
$color4: rgba(255, 255, 255, 1);
$color5: rgba(39, 60, 44, 1);